@{
    ViewBag.Title = "About";
}
<h2>Clock Card Application</h2>
<h3>Track your time here to provide correct invoices to your customers.</h3>

<h4>If you are a new user, @Html.ActionLink("register here", "Register")</h4>   

<h4>If you are a registered user, @Html.ActionLink("Login", "Login") to your account, you can do the following in this application:</h4>
    <h5>* View existing customers and Add new customers</h5>
    <h5>* View existing projects and Add new projects</h5>
    <h5>* View existing time logs and Add new time logs</h5>

